package hwaflib

func (ctx *Context) Version() string {
	version := "HWAF_VERSION"
	return version
}

func (ctx *Context) Revision() string {
	revision := "HWAF_REVISION"
	return revision
}

// EOF


